In [8]:
#Добавляем в путь корневой каталог выгрузки проекта
import sys
sys.path.append("..")
import pandas as pd

In [2]:
from paws.s3 import (boto_s3_resource, download)

In [3]:
resource = boto_s3_resource()

In [4]:
# csv_file = download(resource = resource,
#                     bucket = "gdelt-open-data",
#                     key = "events/1979.csv",
#                     filename = "1979.csv")

In [6]:
csv_file = "1979.csv"

In [7]:
# Загружаем файл, выполняем его усечение и сохраняем
df = pd.read_csv(csv_file, names=range(5))
df = df.head()
# df.to_csv(csv_file)
df.describe()

,0,1,2,3,4
count,5,2,2,2,2
unique,5,2,2,2,2
top,1\t19790101\t197901\t1979\t1979.0027\t\t\t\t\t...,1,2,3,China\tCH\tCH16\t23.0036\t106.359\t-1903584\t...
freq,1,1,1,1,1